<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo-link js-close">
        <span style="font-size: 30px;">LOGO</span>
      </a>
      <nav class="header__nav js-menu">
        <div class="header__menu">
          <ul class="header__menu-list">
            <li class="header__menu-item js-close">
              <a href="#" class="header__menu-item-link">
                Link 1
              </a>
            </li>
            <li class="header__menu-item js-close">
              <a href="#" class="header__menu-item-link">
                Link 2
              </a>
            </li>
            <li class="header__menu-item js-close">
              <a href="#" class="header__menu-item-link">
                Link 3
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>