<div class="tabs">
  <div class="tabs-wrapper">
    <div class="tabs__panel">
      <button type="button" class="tabs__panel-btn js-tab-btn active">Tab 1</button>
      <button type="button" class="tabs__panel-btn js-tab-btn">Tab 2</button>
      <button type="button" class="tabs__panel-btn js-tab-btn">Tab 3</button>
    </div>
    <div class="tabs-content">
      <div class="tabs__tab" data-tab="0">
        <button type="button" class="tabs__panel-btn js-tab-btn js-tab-mob active">Tab 1</button>
        <p>1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus esse, corporis optio possimus eum deserunt
          tenetur eius, quidem excepturi voluptatibus ullam labore itaque vero, ea totam aspernatur. Minus non pariatur
          quod doloremque ex perferendis.</p>
      </div>
      <div class="tabs__tab" data-tab="1">
        <button type="button" class="tabs__panel-btn js-tab-btn js-tab-mob">Tab 2</button>
        <p>
          2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus esse, corporis optio possimus eum deserunt
          tenetur
          eius, quidem excepturi voluptatibus ullam labore itaque vero, ea totam aspernatur. Minus non pariatur quod
          doloremque ex
          perferendis, cumque magni quibusdam expedita alias quam rerum, adipisci nam iste tempore! Consequatur voluptatum
          a
          recusandae corporis?
        </p>
      </div>
      <div class="tabs__tab" data-tab="2">
        <button type="button" class="tabs__panel-btn js-tab-btn js-tab-mob">Tab 3</button>
        <p>
          3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus esse, corporis optio possimus eum deserunt
          tenetur
          eius, quidem excepturi voluptatibus ullam labore itaque vero, ea totam aspernatur. Minus non pariatur quod
          doloremque ex
          perferendis, cumque magni quibusdam expedita alias quam rerum, adipisci nam iste tempore! Consequatur voluptatum
          a
          recusandae corporis? Consequatur voluptatum a
          recusandae corporis? Consequatur voluptatum a
          recusandae corporis?
        </p>
      </div>
    </div>
  </div>
</div>