.btn {
	display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
	border-radius: 10px;
	border: none;
	color: var(--light-color);
	text-align: center;
	line-height: 1;
	cursor: pointer;
	transition: opacity 0.2s;
	&:hover {
		opacity: 0.9;
	}
}
