.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
  padding: 10px 15px;
  z-index: 999;
  background-color: rgba($accent, 0.8);
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  &-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  &-inner {
    position: relative;
    max-width: 700px;
    background-color: $light;
    border-radius: 6px;
    padding: 40px 20px 20px;
    overflow-y: auto;
    text-align: left;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: lighten($accent, 20%);
      border-radius: 12px;
    }
  }
  &-close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-size: 18px;
    color: $primary;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      transform: scale(1.2);
      text-shadow: 0 0 3px $accent;
    }
  }
  &__title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: $accent;
  }
}