@import 'common/mixins';
@import 'common/reset';
@import 'common/fonts';

// VARIABLES
$font-size: 16px ;// Document Font Size
$line-height: 1.25; // Document Line Height
$primary: #333; // Primary Site Color
$dark: #333; // Dark Site Color
$light: #FFF; // Light Site Color
$accent: orange; // Accent Color
// breakpoints
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$index: calc(1vh + 1vw); // index for adaptive resize _font-size: calc($index * 2)_

// GLOBAL STYLES
html,
body {
	height: 100%;
  font-size: $font-size;
  line-height: $line-height;
}
body{
  display: flex;
  flex-direction: column;
}
.content-wrapper{
  flex: 1 0 auto;
}
.footer-wrapper{
  flex: 0 0 auto;
}
.container{
  max-width: $xxl;
  margin: 0 auto;
  padding: 0 15px;
}
.section-block{
  padding: 80px 0;
}