@import "common/vars";
@import "common/mixins";
@import "common/reset";
@import "common/fonts";

// GLOBAL STYLES
html,
body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--dark-color);
}
main {
	flex: 1;
}
.container {
	max-width: var(--content-width);
	margin: 0 auto;
	padding: 0 var(--container-offset);
}
.section-padding {
	padding: 80px 0;
	@include w_768 {
		padding: 50px 0;
	}
}
.section-title {
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: 700;
	@include w_768 {
		font-size: 30px;
	}
}
