.tabs{
  &__panel{
    display: flex;
    align-items: flex-end;
    @include w_768{
      display: none;
    }
    &-btn{
      border-radius: 0;
      font-size: 20px;
      border: none;
      border-bottom: none;
      color: $light;
      padding: 8px 15px;
      cursor: pointer;
      background-color: $primary;
      &.active{
        background: $accent;
        padding: 10px 15px;
      }
    }
  }
  &-content{
    position: relative;
    background-color: $accent;
    p {
      padding: 20px;
      @include w_768{
        height: 0;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        transition: .5s;
      }
    }
  }
  &__tab{
    transition: all .3s;
    opacity: 0;
    display: none;
    @include w_768{
      display: block;
      opacity: 1;
    }
    &.active{
      display: block;
      animation: fade 1s forwards;
    }
  }
  & .js-tab-mob{
    display: none;
    @include w_768{
      display: block;
      width: 100%;
      &.active ~ p{
        height: auto;
        padding: 20px;
      }
    }
  }
}

@keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}